<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Settle-Up</title>
  </head>
  <body>
    <nav>
      <ul class="nav nav-pills pull-right">
        <a href="/bands/new">ADD BAND </a>
      </ul>
    </nav>
    <main>
      <h1>Settle-Up</h1>
    </main>
  </body>
</html>
