<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1 class="homepage-title"><%= title %></h1>
    <a href="/auth/google"
      ><i class="material-icons left"></i>Login with Google</a
    >
  </body>
</html>
