body {
  background-image: url(../images/homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: #00b7ff;
}

.bar {
  border-style: groove;
  background-color: #99b6bd;
  border: 4px solid rgb(132, 142, 161);
  height: 30px;
}

.welcome-line {
  border: thick double cornflowerblue;
  text-align: center;
  background-color: #a9c0cb;
  font-family: "Crimson Text", serif;
  font-size: 60px;
  height: 100px;
}

.homepage-title {
  border: thick double cornflowerblue;
  text-align: center;
  background-color: #a9c0cb;
  font-family: "Crimson Text", serif;
  font-size: 60px;
  height: 100px;
}
*/ .login {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: bolder;
  color: white;
  font-family: fantasy;
}

.table {
  display: flex;
}

.bandName {
  color: white;
  justify-content: left;
  font-variant: small-caps;
  font-size: 25px;
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
  text-shadow: 2px 2px #ff0000;
}

.bandMember {
  color: white;
  display: flex;
  align-content: right;
  font-variant: small-caps;
  font-size: 25px;
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
  text-shadow: 2px 2px #ff0000;
}

.question1 {
  color: white;
  display: flex;
  align-content: right;
  font-variant: small-caps;
  font-size: 25px;
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
  text-shadow: 2px 2px #ff0000;
}

.question2 {
  color: white;
  display: flex;
  align-content: right;
  font-variant: small-caps;
  font-size: 25px;
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
  text-shadow: 2px 2px #ff0000;
}
