body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

table {
  color: blue;
}

.bar {
  background-color: green;
  border: 4px solid blue;
  height: 20px;
}
