body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

table {
  color: blue;
}

.bar {
  background-color: green;
  border: 4px solid blue;
  height: 20px;
}

.welcome-line {
  border: thick double cornflowerblue;
  text-align: center;
  background-color: #a9c0cb;
  font-family: "Crimson Text", serif;
  font-size: 60px;
  height: 100px;
}

.homepage-title {
  border: thick double cornflowerblue;
  text-align: center;
  background-color: #a9c0cb;
  font-family: "Crimson Text", serif;
  font-size: 60px;
  height: 100px;
}
