<%- include('../partials/header') %>

<form
  id="add-transaction-form"
  action="/transactions/<%= transactions._id %>"
  method="POST"
>
  <label>Amount: <input type="text" name="amount" /> </label>
  <label>Category:</label>
  <select name="Category">
    <option value="Gas">Gas</option>
    <option value="Food">Food</option>
    <option value="Tolls">Tolls</option>
    <option value="Gear">Gear</option>
    <option value="Candy">Candy</option>
    <option value="Hotels">Hotels</option>
  </select>
  <label>Owner:</label>
  <select name="Category">
    <option value="Ian">Ian</option>
    <option value="Russ">Russ</option>
    <option value="Jared">Jared</option>
  </select>
</form>

<%- include('../partials/footer') %>
