<!-- </main>
</body>
<div style="text-align: left">
<a href="/logout">Log Out</a>
</div>
</html> -->

<!-- <section>
    <div>Band <%= bands.title %></div>
    <div>Member <%= bands.memberName %></div>
</section> -->
