<%- include('../partials/footer') %>

<form id="new-form" action="/bands/new %>" method="POST">
  <label>What's the band's called? </label>
  <input type="text" name="title" />
  <br /><br />
  <label>What's your name? </label>
  <input type="text" name="memberName" /><br /><br />
  <input type="submit" value="Add Band" />
</form>
