<%- include('../partials/header') %>
<body>
  <form id="new-form" action="/bands/new %>" method="POST">
    <label class="question1">What's the band called? </label>
    <input type="text" name="title" />
    <br /><br />
    <label class="question2">What's your name? </label>
    <input type="text" name="memberName" /><br /><br />
    <input type="submit" value="Add Band" />
  </form>
</body>

<%- include('../partials/footer') %>
