</main>
</body>
<div style="text-align: left">
<a href="/logout">Log Out</a>
</div>
</html>

<tbody>
    <div>Band: <%= bands.title %></div>
    <div>Member Name: <%= bands.memberName %></div>
</tbody>

<form
  id = 'add-transaction'
  method = 'POST'
  action = '/bands/<%= bands._id%>'>

  <label> This is where a transaction would go 
   <input type = 'text' name = 'transaction'>
  </label>
  <hr>
  <% bands.transaction.forEach(function(idx){ %>
    <%= idx.transaction %>
  <hr>
 
</form>
 
<% }) %>




