</main>
</body>
<div style="text-align: left">
<a href="/logout">Log Out</a>
</div>
</html>

<section>
        <div>Band name: <%= b.title %></div>
        <div>Band member: <%= b.memberName %></div>
        <hr>
      </section>

</form>